<?xml version='1.0' encoding='utf-8'?>
<!-- author: xinjue.zou.whi@gmail.com -->
<robot name="fr5v6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="fr_arm" params="connected_to:='' prefix:='' xyz=:'0 0 0' rpy=:'0 0 0' gazebo:=false">
    <xacro:include filename="$(find frcobot_description)/urdf/components.xacro"/>

    <xacro:property name="mesh_path" value="frcobot_description/meshes/fr5v6"/>

    <xacro:unless value="${not connected_to}">
      <joint name="joint_${connected_to}" type="fixed">
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <parent link="${connected_to}"/>
        <child link="${prefix}base_link"/>
      </joint>
    </xacro:unless>
    <xacro:if value="${not connected_to}">
      <!--fixed world-->
      <link name="world"/>
      <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="${prefix}base_link"/>
      </joint>
    </xacro:if>

    <!--base_link to world-->
    <xacro:link name="base_link" prefix="${prefix}"
      ixyz="-0.00031896 -0.00029673 0.042463" ixx="0.0030836" ixy="1.5354E-05" ixz="-1.9315E-05" iyy="0.0030825" iyz="-1.7918E-05" izz="0.0045209" mass="1.6185"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/base_link.STL"
      dae_path="package://${mesh_path}/visual/base_link.DAE" gazebo="${gazebo}"/>

    <!--j1_Link to base_link-->
    <xacro:link name="j1_Link" prefix="${prefix}"
      ixyz="5.0029E-07 -0.0040922 0.14629" ixx="0.010731" ixy="-8.0587E-09" ixz="-3.6773E-08" iyy="0.010408" iyz="0.00012853" izz="0.0081793" mass="4.3771"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j1_Link.STL"
      dae_path="package://${mesh_path}/visual/j1_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j1" parent="base_link" child="j1_Link" type="revolute" prefix="${prefix}" lower="-3.0543" upper="3.0543" effort="150" velocity="3.15"
      soft_lower="-3.0543" soft_upper="3.0543" k_position="15" k_velocity="10"/>

    <!--j2_Link to j1_Link-->
    <xacro:link name="j2_Link" prefix="${prefix}"
      ixyz="-0.2125 -5.7643E-09 0.1346" ixx="0.028392" ixy="-1.337E-07" ixz="-3.9895E-09" iyy="0.4559" iyz="4.214E-08" izz="0.44974" mass="14.458"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j2_Link.STL"
      dae_path="package://${mesh_path}/visual/j2_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j2" parent="j1_Link" child="j2_Link" type="revolute" prefix="${prefix}" origin="0 0 0.152" rpy="1.5708 0 0"
      lower="-4.6251" upper="1.4835" effort="150" velocity="3.15" soft_lower="-4.6251" soft_upper="1.4835" k_position="15" k_velocity="10"/>

    <!--j3_Link to j2_Link-->
    <xacro:link name="j3_Link" prefix="${prefix}"
      ixyz="-0.18793 -8.4503E-07 0.0066357" ixx="0.008509" ixy="2.1613E-06" ixz="-0.0068678" iyy="0.16971" iyz="3.7086E-08" izz="0.16854" mass="7.6737"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j3_Link.STL"
      dae_path="package://${mesh_path}/visual/j3_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j3" parent="j2_Link" child="j3_Link" type="revolute" prefix="${prefix}" origin="-0.425 0 0" rpy="0 0 0"
      lower="-2.8274" upper="2.8274" effort="150" velocity="3.15" soft_lower="-2.8274" soft_upper="2.8274" k_position="15" k_velocity="10"/>

    <!--j4_Link to j3_Link-->
    <xacro:link name="j4_Link" prefix="${prefix}"
      ixyz="4.98E-07 -0.003754 0.097155" ixx="0.00216" ixy="4.888E-09" ixz="3.1528E-08" iyy="0.0015455" iyz="3.7678E-05" izz="0.0019902" mass="1.6266"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j4_Link.STL"
      dae_path="package://${mesh_path}/visual/j4_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j4" parent="j3_Link" child="j4_Link" type="revolute" prefix="${prefix}" origin="-0.39501 0 0" rpy="0 0 0"
      lower="-4.6251" upper="1.4835" effort="28" velocity="3.2" soft_lower="-4.6251" soft_upper="1.4835" k_position="15" k_velocity="10"/>

    <!--j5_Link to j4_Link-->
    <xacro:link name="j5_Link" prefix="${prefix}"
      ixyz="-4.5588E-07 0.0038617 0.098257" ixx="0.0020612" ixy="8.7064E-09" ixz="-3.4742E-08" iyy="0.0014477" iyz="-2.8534E-05" izz="0.0019573" mass="1.5812"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j5_Link.STL"
      dae_path="package://${mesh_path}/visual/j5_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j5" parent="j4_Link" child="j5_Link" type="revolute" prefix="${prefix}" origin="0 0 0.1021" rpy="1.5708 0 0"
      lower="-3.0543" upper="3.0543" effort="28" velocity="3.2" soft_lower="-3.0543" soft_upper="3.0543" k_position="15" k_velocity="10"/>

    <!--j6_Link to j5_Link-->
    <xacro:link name="j6_Link" prefix="${prefix}"
      ixyz="7.7496E-05 1.7751E-05 0.076122" ixx="0.00027721" ixy="-1.8677E-09" ixz="-1.188E-07" iyy="0.00027839" iyz="2.2607E-07" izz="0.00041605" mass="0.52542"
      rgba="0.89804 0.91765 0.92941 1" stl_path="package://${mesh_path}/collision/j6_Link.STL"
      dae_path="package://${mesh_path}/visual/j6_Link.DAE" gazebo="${gazebo}"/>
    <xacro:joint name="j6" parent="j5_Link" child="j6_Link" type="revolute" prefix="${prefix}" origin="0 0 0.102" rpy="-1.5708 0 0"
      lower="-3.0543" upper="3.0543" effort="28" velocity="3.2" soft_lower="-3.0543" soft_upper="3.0543" k_position="15" k_velocity="10"/>

  </xacro:macro>
</robot>
